@model IEnumerable<SocialApp.DB.Model.Organization>
<div class="container">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Organization Name </th>
                <th>Organization Logo</th>
                <th>Created Date </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(cat => category.Name)</td>
                    <td><img src="~/Content/organization/logo/@category.LogoPath" alt="No Logo" class="img-responsive img-circle" height="80" width="80" /></td>
                    <td>@Html.DisplayFor(cat => category.CreatedOn)</td>
                    <td>
                        <a href=" @Url.Action("EditOrganization", "Admin", new { id = category.OrganizationID }) ">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        <a href="@Url.Action("DeleteOrganization", "Admin", new { id = category.OrganizationID })">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>