@model List<SocialApp.DB.ViewModel.OrganizationUsersViewModel>

@{
    ViewBag.Title = "Home Page";
}
<h1>Organization Record </h1>

<br />
<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-3">
                <div class="well bg-danger">
                   
                    @Html.ActionLink(item.OrganizationName, "DisplayProfile" , new { id = item.OrganizationID})    
                    <span class="bg-danger"></span>
                    <span class="pull-right">@item.UsersCount</span>
                    
                </div>
            </div>

        }
    </div>
</div>



