@model List<SocialApp.DB.ViewModel.OrganizationUsersViewModel>

@{
    ViewBag.Title = "Home Page";
}

<br />
<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-3">
                <div class="well bg-danger">
                    <a class="">
                        <span class="bg-danger"></span>

                        <span>@item.OrganizationName </span>
                        <span class="pull-right">@item.UsersCount</span>
                    </a>
                </div>
            </div>

        }
    </div>
</div>



