
@{
    ViewBag.Title = "Organization";
}

<h2>Organization</h2>

<div class="row">
    <div class="col-md-12">
        <h4>Manage your organization settings.</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="~/Admin/CreateOrganization" class="btn btn-primary">Add Organization</a>
    </div>
</div>
<div>
        
</div>